### Conexión a la API de INEGI para extracción de datos de empresas que pertenecen al sector manufacturero en México

In [7]:
from utils import *

In [8]:
# url y token de acceso
# URL and access token
TOKEN = "faf82666-ff9a-45a8-b60b-3acea0c42af9"
# Empresas de la Industria manufacturera Sector 33
# Manufacturing industry companies, sector 33
BASE_URL1 = "https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/00/0/0/0/0/0/0/0/0/0/1/40000/0/5/"
BASE_URL2 = "https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/00/0/0/0/0/0/0/0/0/0/1/40000/0/6/"
BASE_URL3 = "https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/00/0/0/0/0/0/0/0/0/0/1/40000/0/7/"
# Empresas de la industria farmacéutica Rama: 3254
# Pharmaceutical companies, sector 3254
# BASE_URL4 = "https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/00/0/0/0/0/0/0/3254/0/0/1/40000/0/5/"
# BASE_URL5 = "https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/00/0/0/0/0/0/0/3254/0/0/1/40000/0/6/"
# BASE_URL6 = "https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/00/0/0/0/0/0/0/3254/0/0/1/40000/0/7/"
# 
url1 = BASE_URL1 + TOKEN
url2 = BASE_URL2 + TOKEN
url3 = BASE_URL3 + TOKEN
# url4 = BASE_URL4 + TOKEN
# url5 = BASE_URL5 + TOKEN
# url6 = BASE_URL6 + TOKEN

In [9]:
response1, response2, response3 = requests.get(url1), requests.get(url2), requests.get(url3)
data1, data2, data3 = response1.json(), response2.json(), response3.json()
# 
# response4, response5, response6 = requests.get(url4), requests.get(url5), requests.get(url6)
# data4, data5, data6 = response4.json(), response5.json(), response6.json()

In [16]:
def get_data(i):
    clase_act_id = i["CLASE_ACTIVIDAD_ID"]
    empresa = i['Nombre']
    clase_act = i['Clase_actividad']
    estrato = i["Estrato"]
    calle = i['Calle']
    numero_ext = i['Num_Exterior']
    colonia = i['Colonia']
    cp = i['CP']
    ubicacion = i['Ubicacion']
    longitud = i['Longitud']
    latitud = i['Latitud']
    fecha_alta = i["Fecha_Alta"]
    telefono = i['Telefono']
    correo = i["Correo_e"]
    return clase_act_id,empresa,clase_act,estrato,calle,numero_ext,colonia,cp,ubicacion,longitud,latitud,fecha_alta,telefono,correo

In [17]:
# df
base1 = []
base2 = []
base3 = []
# base4 = []
# base5 = []
# base6 = []
col = ['clase_act_id','empresa','clase_act','estrato','calle','numero_ext','colonia','cp','ubicacion','longitud','latitud','fecha_alta','telefono','correo']
for i in data1:
    base1.append(get_data(i))
df1 = pd.DataFrame(base1, columns=col)
for i in data2:
    base2.append(get_data(i))
df2 = pd.DataFrame(base2, columns=col)
for i in data3:
    base3.append(get_data(i))
df3 = pd.DataFrame(base3, columns=col)
# for i in data4:
#     base4.append(get_data(i))
# df4 = pd.DataFrame(base4, columns=col)
# for i in data5:
#     base5.append(get_data(i))
# df5 = pd.DataFrame(base5, columns=col)
# for i in data6:
#     base6.append(get_data(i))
# df6 = pd.DataFrame(base6, columns=col)

In [18]:
datas = [df1, df2, df3] #, df4, df5, df6]
empresas = pd.concat(datas, ignore_index=True)
empresas

,clase_act_id,empresa,clase_act,estrato,calle,numero_ext,colonia,cp,ubicacion,longitud,latitud,fecha_alta,telefono,correo
0,431160,CEDIS ATIZAPAN ESTADO DE MEXICO,Comercio al por mayor de leche y otros product...,51 a 100 personas,VÍA GUSTAVO BAZ,18,MEXICO NUEVO,52968,"TLALNEPANTLA, Tlalnepantla de Baz, MÉXICO ...",-99.20320817,19.57691494,2010-07,,EDGAR.SALINAS@GRUPOLALA.COM
1,237132,"""",Construcción de obras para telecomunicaciones,51 a 100 personas,TENANGO,9,ROMA SUR,06760,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO",-99.16192005,19.40676973,2010-07,,
2,484129,"""",Otro autotransporte foráneo de carga general,51 a 100 personas,JUAN BRITTIGAM,184,TORREON,27019,"TORREÓN, Torreón, COAHUILA DE ZARAGOZA",-103.39699210,25.59982195,2014-12,,JMMIJARESG@HOTMAIL.COM
3,485210,"""",Transporte colectivo foráneo de pasajeros de r...,51 a 100 personas,5 DE FEBRERO,203,CENTRO,70800,"MIAHUATLÁN DE PORFIRIO DÍAZ, Miahuatlán de Por...",-96.59711412,16.32973034,2012-06,9511875512,SUBURBANMIAHUATECOS@HOTMAIL.COM
4,236112,"""",Edificación de vivienda multifamiliar,51 a 100 personas,RÍO HONDO,22,227,77516,"CANCÚN, Benito Juárez, QUINTANA ROO",-86.85090118,21.19130840,2014-12,9982038911,PEDROESCAMILLA1@HOTMAIL.COM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14998,468412,GAS IMPERIAL,Comercio al por menor de gas L. P. en cilindro...,251 y más personas,,,,,"DON FELIPE, Benito Juárez, QUINTANA ROO",-86.98329694,21.09591444,2019-11,,
14999,561110,GAS IMPERIAL MEXICANO,Servicios de administración de negocios,251 y más personas,MARIANO MATAMOROS PONIENTE,593,CENTRO,27000,"TORREÓN, Torreón, COAHUILA DE ZARAGOZA",-103.45576915,25.54028405,2010-07,,RPADILLA@GASIMPERIAL.COM.MX
15000,468412,GAS IMPERIAL PLANTA DE ALMACENAMIENTO 5 DE MAYO,Comercio al por menor de gas L. P. en cilindro...,251 y más personas,LIBRAMIENTO PERIFERICO TORREON ZACATECAS KILOM...,0,5 DE MAYO,34304,"ARMANDO CHAVIRA, Durango, DURANGO",-104.57274376,24.09359946,2014-12,,ELEAL@GASIMPERIAL.COM.MX
15001,468412,GAS IMPERIAL SA DE CV,Comercio al por menor de gas L. P. en cilindro...,251 y más personas,ALFREDO DEL MAZO,1202,TOLUCA,50010,"SAN LORENZO TEPALTITLÁN, Toluca, MÉXICO ...",-99.63461206,19.31149128,2010-07,,CONTABILIDAD@GAS-IMPERIAL.COM.MX
15002,468412,"GAS LICUADO, S.A. DE C.V.",Comercio al por menor de gas L. P. en cilindro...,251 y más personas,1,722,ZONA INDUSTRIAL,44940,"GUADALAJARA, Guadalajara, JALISCO",-103.35382103,20.64113335,2010-07,,GLICUADO@INFOSEL.NET.MX

In [19]:
# Descripción de los datos
# Data description
empresas.describe()

,clase_act_id,empresa,clase_act,estrato,calle,numero_ext,colonia,cp,ubicacion,longitud,latitud,fecha_alta,telefono,correo
count,15003,15003,15003,15003,15003,15003,15003,15003,15003,15003,15003,15003,15003,15003
unique,748,13533,748,3,7862,2753,6663,4967,1918,14814,14810,23,1887,7123
top,462111,C&A,Comercio al por menor en supermercados,51 a 100 personas,NINGUNO,0,CENTRO,,"MIGUEL HIDALGO, Miguel Hidalgo, CIUDAD DE MÉXICO",-99.14938304,19.43598888,2010-07,,
freq,893,60,893,5001,627,2685,1036,601,428,18,18,7473,13040,5706

In [34]:
# Saving the dataframe as csv file
empresas.to_csv('sector_empresa.csv', index = False, encoding='utf-8')

In [35]:
# Saving the df as json file
empresas.to_json('sector_empresa.json',orient='records', force_ascii=False)#, index = False, encoding='utf-8')